html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 6vw;
    position: fixed;
    border: 0;
    color: #E2FCEF;
    background: rgba(23, 15, 17, 0.822);
    font-family: sans-serif;
    border-radius: 0px 0px 40px 40px;
    padding-bottom:0;
}
header img{
    float: left;
    clear: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1%;
    margin-bottom: 0%;
    padding: 0;
    width: auto;
    height: 6vw;
}
.lunardo{
    font-size: 2.3vw;
    padding: 0;
    margin:0;
}
header .lunardo h1{
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
#navbar{
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bold;
    font-size: 3vw;
}
#navbar a{
    text-decoration: none;
    color: #E2FCEF;
    font-size: 2.5vw;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
}

#navbar a:hover{
    background-color: rgb(177, 11, 199);
    color: white;
}

body{
    background-image: url(https://titan.csit.rmit.edu.au/~s3784464/media/neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #E2FCEF;
}

h2{
    color: #E2FCEF;
    background:#170F11;
    margin: 0px 0px 0px 0px;
    font-size: 65px;
    text-align: center;
    padding: 0;
    border-radius:25px 25px 0 0;
}

h3{
    color: #E2FCEF;
    background: #170F11;
}

#About-Us{
    padding-top: 6vw;  
    font-size: 2.05vw;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

#aboutUsInfo{
    background-image: linear-gradient(to top, rgb(40, 7, 94) , rgb(166, 37, 226));
    border-radius:25px;
}


#About-Us img{
    margin: 0px;
    padding: 0px;
  }

#About-Us a{
    text-decoration: underline;
    font-weight: bold;
    color: rgb(237, 171, 247);
    
}
#About-Us p{
    margin-top: 1vw;
    margin-left: 3vw;
    margin-bottom: 0;
    padding-bottom:0;
}

#About-Us ul{
    margin-left: 1vw;
}

.Image {
    display: inline-block;
    width: 14vw;
    height: auto;
}

.imageContainer:hover:after{
    display: none;
}

span.imageContainer{
    background: rgb(19, 18, 18);
    margin-left: 17vw;
    border: solid rgb(175, 173, 173) 3px;
    width: 20vw;
    height: 15vw;
    text-align: center;
}

.hoverPics{
    display: grid;
    grid-template-columns: 35% 65%;
    width:80vw;
    margin: 0%;
    padding-bottom: 1vw;
    padding-left: 7vw;
    padding-right: 0;
    border: 0%;
    font-size: 2.5vw;
    font-weight: bold;
}

#Prices{
    padding-top: 6vw; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 35px;
    height: 15vw;
}

table, th, td{
    border: 1px solid black;
    height: 4vw;
    text-align: center;
}

tr:nth-child(even){
    background: #69335e;
}
tr:nth-child(odd){
    background: #4b2543;
}

tr:hover {
    background-color: rgb(119, 22, 175);
}

table .topTable{
   background-color:#35152e;
   font-weight: bold;
}

#Now-Showing{
    padding-top: 6vw;
    margin-left: 10px;
    margin-right: 10px;
}

#Now-Showing #nowShowingContainter{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.showcases{
    font-family: sans-serif;
}


#Now-Showing p{
    font-size: 2.5vw;
    margin: 7px;
}

#Now-Showing img{
    max-width: 100%;
    width: auto;
    height: 32vw;
    float: left;
    margin: 2%;
    border: 2px solid rgb(0, 0, 0);
}

.nowShowing{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
    width: 100%;
}

.nowShowing h4{
    font-size: 4vw;
    padding: 0px;
    margin: 1vw;
    margin-top:0;
}


li{
    list-style-type: circle;
}

.endgame {
    border: 3px solid rgb(177, 11, 199);
    background: rgb(83, 9, 143);
    margin: 0 20px 20px 0
}
.endgame:hover{
    background: rgb(55, 8, 94);
}

.topEndWedding {
    border: 3px solid rgb(226, 204, 7);
    background: rgb(221, 137, 28);
    margin: 0 0 20px 20px;
}
.topEndWedding:hover{
    background: rgb(160, 99, 20);
}

.dumbo {
    border: 3px solid rgb(218, 22, 97);
    background: rgb(129, 22, 76);
    margin: 20px 20px 0 0;
}
.dumbo:hover{
    background: rgb(88, 15, 52);
}
.theHappyPrince {
    border: 3px solid rgb(59, 159, 253);
    background: rgb(13, 83, 189);
    margin: 20px 0 0 20px;
}  
.theHappyPrince:hover{
    background: rgb(11, 58, 129);
}
    

.links{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

span.avengersTime{
    display: inline-block;
    width: 190px;
    height: 40px;
    margin: 5px;
    border: 5px double rgb(30, 1, 36);    
    background-color: rgb(123, 7, 201); 
    text-align: center;
}
span.avengersTime:hover{
    background: rgb(48, 3, 78);
}

#endgameShowcase{
    display: none;
    background: rgb(131, 15, 167);
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    border-radius:25px;
}
#endgameShowcase h2 { 
    display: inline;
    text-align: left; }


#endgameHeading{
    width: auto;
    background: #170F11;
    grid-template-columns: 40% 60%;

}
#endgameShowcase iframe{
    display:block;
    margin-right: auto;
    clear: top;
    float: right;
    margin: 10px;
    border: 2px solid rgb(38, 2, 63);
    width: 50vw;
    height: 28vw;
}
#endgameShowcase #makeabooking{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

#endgameShowcase p{
    margin-left: 10px;
}

span.pg{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 50px;
    margin-top: 0.5%;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 100px;
}

span.avengersHeading{
    grid-column-start: 0;
    grid-column-end: 2;
    float: left;
}

#bookingForm{
    display: inline-grid;
    grid-template-columns: 30vw 66.5vw;
    background: black;
    padding: 0 8px 10px 8px;
    font-size: 20px;
    border-radius:0 0 25px 25px;
}

#bookingTitle{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 40px;
    margin: 0;
}

#formLHS{
    grid-column-start: 1;
}

#formRHS{
    grid-column-start: 2;
    margin-left: 5vw;
}

#formRHS p{
    margin: 10px;
}

#standard{
    border: solid white 1px;
}
#concession{
    border: solid white 1px;
}

@media only screen and (max-width: 1000px){ 
    .nowShowing{
         display: block;
     }
     .endgame{
         margin:0;
         min-height: 37vw;
         height: auto;
     }
     .topEndWedding{
         margin-left: 0;
         min-height: 37vw;
         height: auto;
     }
     .dumbo{
         margin-right:0;
         min-height: 37vw;
         height:auto;
     }
     .theHappyPrince{
         margin-left: 0;
         min-height: 37vw;
         height: auto;
     }
 }

footer{
    text-align: center;
    background: rgb(15, 3, 19);
    border-radius: 100px 100px 0px 0px;
    border: solid rgb(23, 3, 36) 2px;
    margin-top: 40px;
}