html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 6vw;
    position: fixed;
    border: 0;
    color: rgb(239, 226, 252);
    background: rgba(23, 15, 17, 0.822);
    font-family: sans-serif;
    border-radius: 0px 0px 40px 40px;
    padding-bottom:0;
}
header img{
    float: left;
    clear: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1%;
    margin-bottom: 0%;
    padding: 0;
    width: auto;
    height: 6vw;
}
.lunardo{
    font-size: 2.3vw;
    padding: 0;
    margin:0;
}
header .lunardo h1{
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
#navbar{
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bold;
    font-size: 3vw;
}
#navbar a{
    text-decoration: none;
    color: #E2FCEF;
    font-size: 2.5vw;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
}

#navbar a:hover{
    background-color: rgb(177, 11, 199);
    color: white;
}

body{
    background-image: url(https://titan.csit.rmit.edu.au/~s3784464/media/neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #E2FCEF;
}
h2{
    color: #E2FCEF;
    background:#170F11;
    margin: 0px, 10px, 0px, 10px;
    font-size: 65px;
    text-align: center;
}

h3{
    color: #E2FCEF;
    background: #170F11;
}

#About-Us{
    padding-top: 6vw;  
    font-size: 2.05vw;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#aboutUsInfo{
    background-image: linear-gradient(to right, rgb(40, 7, 94) , rgb(166, 37, 226));
}


#About-Us img{
    margin: 0px;
    padding: 0px;
  }

#About-Us a{
    text-decoration: underline;
    font-weight: bold;
    color: rgb(237, 171, 247);
    
}
#About-Us p{
    margin-top: 1vw;
    margin-left: 4vw;
    margin-bottom: 0;
    padding-bottom:0;
}

#About-Us ul{
    margin-left: 3vw;
}

.Image {
    display: inline-block;
    width: 14vw;
    height: auto;
}

.imageContainer:hover:after{
    display: none;
}

span.imageContainer{
    border: solid black 3px;
    width: 20vw;
    height: 15vw;
    text-align: center;
}

.imageContainer{
    background-image: linear-gradient(to left, rgb(40, 7, 94) , rgb(166, 37, 226));
    margin-left: 4vw;
}

.hoverPics{
    display: grid;
    grid-template-columns: 50% 50%;
    width:80vw;
    margin: 0%;
    padding-bottom: 1vw;
    padding-left: 7vw;
    padding-right: 0;
    border: 0%;
    font-size: 40px;
    font-weight: bold;
}

#Prices{
    padding-top: 6vw; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #4b2543;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 40px;
    height: 15vw;
}

table, th, td{
    border: 1px solid black;
    height: 4vw;
    text-align: center;
}

tr:nth-child(even){
    background-color: #69335e;
}

tr:hover {
    background-color: rgb(119, 22, 175);
}

table .topTable{
   background-color:#35152e;
   font-weight: bold;
}

#Now-Showing{
    padding-top: 6vw;
    margin-left: 10px;
    margin-right: 10px;
}

#Now-Showing #nowShowingContainter{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.showcases{
    font-family: sans-serif;
}


#Now-Showing p{
    font-size: 40px;
    margin: 7px;
}

#Now-Showing img{
    max-width: 100%;
    width: auto;
    height: 500px;
    float: left;
    margin: 2%;
    border: 2px solid rgb(0, 0, 0);
}

.nowShowing{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100%;
}

.nowShowing h4{
    font-size: 50px;
    padding: 0px;
    margin: 20px;
}
@media only screen and (max-width: 1000px){ 
    .nowShowing{
        display: block;
    }
}

li{
    list-style-type: circle;
}
    .endgame {
        border: 3px solid rgb(177, 11, 199);
        background: rgb(83, 9, 143);
        margin:20px;
        margin-top: 0px;
        
    }
    .theHappyPrince {
        border: 3px solid rgb(59, 159, 253);
        background: rgb(13, 83, 189);
        margin:20px;
    }
    .topEndWedding {
        border: 3px solid rgb(226, 204, 7);
        background: rgb(221, 137, 28);
        margin:20px;
        margin-top: 0px;
    }
    .dumbo {
        border: 3px solid rgb(218, 22, 97);
        background: rgb(129, 22, 76);
        margin:20px;
    }

.links{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

span.avengersTime{
    display: inline-block;
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 5px double rgb(30, 1, 36);    
    background-color: rgb(123, 7, 201); 
    text-align: center;
}
span.avengersTime:hover{
    background: rgb(48, 3, 78);
}

#endgameShowcase{
    background: rgb(162, 9, 209);
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}
#endgameShowcase h2 { 
    display: inline;
    text-align: left; }
header span.pg { margin-left: 100px; }

#endgameHeading{
    width: 100%;
    background: #170F11;
}
#endgameShowcase iframe{
    display:block;
    margin-right: auto;
    clear: top;
    float: right;
    margin: 10px;
    border: 2px solid rgb(38, 2, 63);
}
#endgameShowcase #makeabooking{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.bookingTime{
    border: solid black 5px;
    margin: 0px;
}

span.pg{
    font-size: 50px;
    float: right;
    margin-right: 50%;
    margin-top: 0.5%;
    font-weight: bold;
    font-family: sans-serif;
}

span.avengersHeading{
    display: inline-block;
}

#bookingForm{
    background: black;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 40px;
}

footer{
    text-align: center;
    background: rgb(15, 3, 19);
    border-radius: 100px 100px 0px 0px;
    border: solid rgb(63, 6, 102) 2px;
}