html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    position: fixed;
    border: 0;
    color: #E2FCEF;
    background: rgba(23, 15, 17, 0.815);
    font-family: sans-serif;
    border-radius: 0px 0px 40px 40px;
}

header img{
    float: left;
    clear: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1%;
    margin-bottom: 0%;
    padding: 0;
    width: 140px;
    height: auto;
}
.lunardo{
    font-size: 40px;
    padding: 0;
    margin:0;
    height: 90px;
}
header .lunardo h1{
    width: 100%;
    padding: 0px;
    margin: 0px;
}


#navbar{
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

#navbar a{
    text-decoration: none;
    color: #E2FCEF;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
}

#navbar a:hover{
    background-color: rgb(177, 11, 199);
    color: white;
}

body{
    background-color: rgb(223, 64, 64);
    background-image: url(https://titan.csit.rmit.edu.au/~s3784464/media/neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #E2FCEF;
    font-size: 25px;
}

h2{
    color: #E2FCEF;
    background: #170F11;
    margin:0;
    font-size: 65px;
    text-align: center;
}

h3{
    color: #E2FCEF;
    background: #170F11;
}

main{
    padding-top: 100px;
}

#About-Us{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(185, 25, 190);
}

#About-Us img{
    border: solid rgb(222, 5, 230) 5px;
      margin: 0px;
      padding: 0px;
  }

#About-Us a{
    text-decoration: underline;
    color: black;
    
}
#About-Us p{
    margin: 10px;
}

.Image {
    display: none;
    width: 80%;
    height: auto;
}

.classText:hover ~ .Image {
    display: inline;  
}

span.imageContainer{
    border: solid black 5px;
    width: 300px;
    height: 400px;
}

.hoverPics{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 98%;
    padding: 1%;
    margin: 0%;
    border: 0%;
    font-size: 40px;
    font-weight: bold;
}

#Prices{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #4b2543;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 30px;
}

table, th, td{
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: #69335e;
}

tr:hover {
    background-color: rgb(119, 22, 175);
}

table .topTable{
   background-color:#35152e;
   font-weight: bold;
}

#Now-Showing{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.showcases{
    font-family: sans-serif;
}


#Now-Showing p{
    font-size: 40px;
    margin: 7px;
}

#Now-Showing img{
    max-width: 100%;
    width: auto;
    height: 500px;
    float: left;
    margin: 2%;
    border: 2px solid rgb(0, 0, 0);
}

.nowShowing{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100%;
}

.nowShowing h4{
    font-size: 50px;
    padding: 0px;
    margin: 20px;
}
@media only screen and (max-width: 1000px){ 
    .nowShowing{
        display: block;
    }
}

li{
    list-style-type: circle;
}
    .endgame {
        border: 3px solid rgb(177, 11, 199);
        background: rgb(83, 9, 143);
        margin:20px;
        margin-top: 0px;
        
    }
    .theHappyPrince {
        border: 3px solid rgb(7, 11, 226);
        background: rgb(63, 133, 173);
        margin:20px;
    }
    .topEndWedding {
        border: 3px solid rgb(226, 204, 7);
        background: rgb(221, 137, 28);
        margin:20px;
        margin-top: 0px;
    }
    .dumbo {
        border: 3px solid rgb(218, 22, 97);
        background: rgb(129, 22, 76);
        margin:20px;
    }
}

.links{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

span.avengersTime{
    display: inline-block;
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 5px double rgb(30, 1, 36);    
    background-color: rgb(123, 7, 201); 
    text-align: center;
}
span.avengersTime:hover{
    background: rgb(48, 3, 78);
}

#endgameShowcase{
    background: rgb(162, 9, 209);
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}
#endgameShowcase h2 { 
    display: inline;
    text-align: left; }
header span.pg { margin-left: 100px; }

#endgameHeading{
    width: 100%;
    background: #170F11;
}
#endgameShowcase iframe{
    display:block;
    margin-right: auto;
    clear: top;
    float: right;
    margin: 10px;
    border: 2px solid rgb(38, 2, 63);
}
#endgameShowcase #makeabooking{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.bookingTime{
    border: solid black 5px;
    margin: 0px;
}

span.pg{
    font-size: 50px;
    float: right;
    margin-right: 50%;
    margin-top: 0.5%;
    font-weight: bold;
    font-family: sans-serif;
}

span.avengersHeading{
    display: inline-block;
}

#bookingForm{
    background: black;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 40px;
}

footer{
    background: black;
    border-radius: 0px 0px 0px 0px;
}