 html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90px;
    width: 100%;
    position: fixed;
    border: 0;
    color: #E2FCEF;
    background: #170F11;
    font-family: sans-serif;
    border-radius: 0px 0px 40px 40px;
    opacity: 0.9;
}
footer{
    background: black;
}
table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: #69335d;
}
tr:hover {
    background-color: rgb(119, 22, 175);
}

#navbar{
    text-align: center;
    padding: 30px;
    font-weight: bold;
}
#navbar a{
    text-decoration: none;
    color: #E2FCEF;
    font-size: 30px;
    padding: 20px;
    text-align: left;
}
#navbar a:hover{
    background-color: rgb(177, 11, 199);
    color: white;
}
body{
    background-color: rgb(223, 64, 64);
    background-image: url(https://titan.csit.rmit.edu.au/~s3784464/media/neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #E2FCEF;
    font-size: 25px;
}

iframe{
    display:block;
    margin-right: auto;
}

h2{
    color: #E2FCEF;
    background: #170F11;
    margin:0;
    font-size: 60px;
    text-align: center;
}

h3{
    color: #E2FCEF;
    background: #170F11;
}

main{
    padding-top: 100px;
}


.endgame {
    width: 300px;
    border: 15px solid rgb(177, 11, 199);
    padding: 50px;
    margin: 20px;
  }
  .theHappyPrince {
    width: 300px;
    border: 15px solid rgb(177, 11, 199);
    padding: 50px;
    margin: 20px;
  }
  .topEndWedding {
    width: 300px;
    border: 15px solid rgb(177, 11, 199);
    padding: 50px;
    margin: 20px;
  }
  .dumbo {
    width: 300px;
    border: 15px solid rgb(177, 11, 199);
    padding: 50px;
    margin: 20px;
  }

.lunardo{
    font-size: 30px;
    padding: 0;
}

#About-Us{
    margin-bottom: 20px;
    background: #9B287B;
}
#About-Us a{
    text-decoration: underline;
    color: #E2FCEF;

}

#Prices{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #402039;
}

#Now-Showing{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #5C164E;
}

.links{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#endgameShowcase{
    background: rgb(209, 9, 126);
}

#makeABooking{
    background: rgb(102, 7, 63);
}

